# Custom
dbConfig.php
customConfig.php
googleAnalytics.php
googleSiteVerification.php
.settings/
.buildpath
.project
url-alias-map.txt

# Images and Files
# Uncomment to skip keeping images in sync with remote servers (recommended once live)
#cart/images/
#public/file/source/
#public/file/thumbs/
#/files/

# Logs
logs/
*.log
*_log

# Backups
*.bak
*.7z
*.bz2
*.gz
*.tar
*.zip

# NetBeans IDE
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Dreamweaver
_notes/
dwsync.xml

# Windows image file caches
Thumbs.db
ehthumbs.db

# Windows Folder config file
Desktop.ini

# Windows Recycle Bin used on file shares
$RECYCLE.BIN/
