# Custom
dbConfig.php
customConfig.php
googleAnalytics.php
googleSiteVerification.php
files/

# Logs
logs/
*.log
*_log

# Backups
*.bak
*.7z
*.bz2
*.gz
*.tar
*.zip

# NetBeans IDE
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Dreamweaver
_notes/
dwsync.xml

# Windows image file caches
Thumbs.db
ehthumbs.db

# Windows Folder config file
Desktop.ini

# Windows Recycle Bin used on file shares
$RECYCLE.BIN/
