# Prevent directory listing
Options -Indexes

# Route all requests through index file which checks ACL
RewriteEngine On
RewriteRule ^(.*)$ index.php?f=$1 [PT,L,QSA]

#Prevent images from being viewed
#<Files *>
#  deny from all
#</Files>