/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles - defaults by brock@brockhensley.com
   ========================================================================== */

/************************************************************************/
/** Structure **/
html {
    line-height: normal;
}
body {
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #FFF;
    color: #000;

    font-family: EurostileRegular;
    font-size: 15px;
    text-align: justify;

    /*
    background-attachment: fixed;
    background-image: url(./images/structure/background.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    */
}
.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

/* Main Div */
#wrapper {
    height: 100%;
    width: 960px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    padding-bottom: 10px;

    /*
    background-repeat: repeat-y;
    background-position: center center;
    background-image: url(./images/structure/background-tile.jpg);
    */
}

/* Top Nav */
#top {
    height: 32px;
    width: 100%;
    text-align: right;
    text-indent: 10px;
    vertical-align: bottom;
    text-decoration: none;
    top: auto;
    bottom: auto;
    color: #FFF;

    /*
    background-attachment: scroll;
    background-image: url(./images/structure/top.jpg);
    background-repeat: no-repeat;
    background-position: center 0%;
    */
}
#top-nav
{
    float: right;
}

/* Header */
.header, .header-full
{
    width: 100%;
    padding-top: 70px;

    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center 0px;
}
.header nav, .header-full nav
{
    /*margin-left: 200px;*/
}
.header {
    height: 86px;
    /*
    background-image: url(./images/structure/header.jpg);
    */
}
.header-full {
    height: 110px;
    /*
    background-image: url(./images/structure/header-full.png);
    */
}

/* Main */
#main-container {
    padding: 10px;
    width: 940px;
    height: 100%;
}

/* Middle separator */
.middle {
    height: 170px;
    /*
    background-attachment: scroll;
    background-image: url(./images/structure/middle.png);
    background-repeat: no-repeat;
    background-position: center;
    */
}
.middle-full {
    height: 180px;
    /*
    background-attachment: scroll;
    background-image: url(./images/structure/middle-full.png);
    background-repeat: no-repeat;
    background-position: center;
    */
}
.middle-small {
    height: 133px;
    /*
    background-attachment: scroll;
    background-image: url(./images/structure/middle-smaller.png);
    background-repeat: no-repeat;
    background-position: center;
    */
}

/* Footer */
.footer-container
{
    font-family: Arial, Helvetica, sans-serif;
    height: 209px;
    /*
    background-image: url(./images/structure/background-tile.jpg);
    background-repeat: repeat-y;
    background-position: center;
    background-attachment: scroll;
    */
}
.footer-container .footer_menu_left
{
    padding: 0px 0px 10px 10px;
    float: left;
    width: 180px;
    min-height: 100px;
}
.footer-container .footer_menu_middle
{
    padding: 0px 0px 10px 10px;
    float: left;
    width: 180px;
    min-height: 100px;
    margin-bottom: 10px;
}
.footer-container .footer_menu_right
{
    padding: 10px 10px 0px 0px;
    float: right;
    width: 570px;
    min-height: 100px;
}
/************************************************************************/

/************************************************************************/
/* Global Link Style */
a:link {
    color: #C3C3C8;
    text-decoration: none;
}
a:visited {
    text-decoration: none;
    color: #C3C3C8;
}
a:hover {
    text-decoration: none;
    color: #C93;
}
a:active {
    text-decoration: none;
    color: #C3C3C8;
}

/************************************************************************/
/* Global Image Style */
img
{
    border: 4px solid #FFF;
    margin: 5px;
}
.no-border
{
    border: none !important;
}

/************************************************************************/
/* Text Styles */
.body-text {
    font-family: EurostileRegular;
    color: #000;
    font-size: 15px;
    text-decoration: none;
    text-align: justify;
}
.body-text-bold {
    font-family: EurostileRegular;
    color: #000;
    font-size: 16px;
    text-decoration: none;
    text-align: justify;
    font-weight: bolder;
}
.body-text-bold-nj {
    font-family: EurostileRegular;
    color: #000;
    font-size: 16px;
    text-decoration: none;
    font-weight: bolder;
}
.subheader-text-bold {
    font-family: EurostileRegular;
    color: #000;
    font-size: 20px;
    text-decoration: none;
    text-align: left;
    font-weight: bolder;
}
.body-text-small {
    font-family: EurostileRegular;
    color: #000;
    font-size: 12px;
    text-decoration: none;
    text-align: justify;
}
.header-text,
h1{
    font-family: MisoBold;
    font-size: 22px;
    color: #000;
    text-decoration: none;
    /* text-indent: 45px; */
    text-transform: uppercase;
    text-align: left;
    padding-left: 45px;
    vertical-align: top;
}
.eurostile-body-narrow {
    font-family: EurostileRegular;
}
.eurostile-narrow-bold {
    font-family: EurostileBoldRegular;
    font-weight: lighter;
    font-size: 17px;
}

/************************************************************************/
/* Horizontal Menu */
ul.menu-horizontal
{
    margin:0 !important;
    padding:0 !important;
    padding-right: 10px !important;
    list-style-type:none;
    width:auto;
    position:relative;
    display:block;
}
ul.menu-horizontal li {
    display:block;
    margin:0 !important;
    padding:0 !important;
    padding-left: 10px !important;
    text-align: right;
    float: left;
}

/************************************************************************/
/* Top & Header Menus */
ul.menu_top,
ul.menu_header {
    float: right;
    height: 30px;
    background-color: transparent;

    font-family: MisoRegular;
    font-size: 16px;
    font-weight:normal;
    font-style:normal;

    text-transform:uppercase;
    text-align: right;
    text-decoration: none;

    vertical-align: middle;
}
/* Top Navigation Menu */
ul.menu_top {
    padding-top: 7px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-left: 5px;

    font-family: MisoBold;
    font-size: 12px !important;
}
/* Main Navigation Menu */
ul.menu_header {
    margin-right: -10px;
    margin-top: 10px;
}
ul.menu_header li {
    display:block;
    margin:0;
    padding: 0px 20px 0px 20px;
    text-align: right;
    float: left;
}
ul.menu_header li a {
    display:block;
    float:left;
    color:#D7C6B4;
    text-decoration:none;
}
/* Menu with hover effect */
ul.menu_hover li a {
    height:30px;
    margin:0;
    padding:0;
}
ul.menu_hover li:hover {
    background-color: transparent;
    background-image: url(./images/structure/menu-black.png);
    background-repeat: repeat-x;
    background-position: center center;
}
ul.menu_hover li a:hover {
    color: #FFF;
}

/************************************************************************/
/* Footer Menus */
ul.menu_footer .heading
{
    text-transform: uppercase;
    color: #b3aa85;
    font-size: 18px !important;
    font-weight: 600 !important;

    margin-top: 10px;
    margin-bottom: 20px;
}
ul.menu_footer,
ul.menu_footer li
{
    list-style-type: none !important;
    list-style-image: none !important;
    padding:0;
    margin:0;

    font-size: 14px !important;
    line-height: 23px;
}

/* Copyright */
.footer-container #copyright
{
    clear: both;

    color: #b3aa85;

    margin-top: -5px;
    margin-left: 10px;

    float: left;
    font-size: 12px;
    line-height: 12px;
}

/************************************************************************/
/* Success / Failure results message style */
.alert {
    border: 1px solid;
    margin: 10px auto;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    width: 50%;
    text-align: left;
}
.alert a {
    color: #666;
}
.alert.info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('./images/items/knobs/Knob Info.png');
}
.alert.success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('./images/items/knobs/Knob Valid Green.png');
}
.alert.warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('./images/items/knobs/Knob Attention.png');
}
.alert.error,
.alert.failure {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('./images/items/knobs/Knob Cancel.png');
}
.alert.validation {
    color: #D63301;
    background-color: #FFCCBA;
    background-image: url('./images/items/knobs/Knob Red.png');
}
.alert.up {
    background-image: url('./images/items/knobs/Knob Upload.png');
}
.alert.down {
    background-image: url('./images/items/knobs/Knob Download.png');
}
.alert.cancel {
    background-image: url('./images/items/knobs/Knob Cancel.png');
}
.alert.add {
    background-image: url('./images/items/knobs/Knob Add.png');
}
.alert.remove {
    background-image: url('./images/items/knobs/Knob Remove Red.png');
}
.alert.red {
    background-image: url('./images/items/knobs/Knob Red.png');
}
.alert.no-img {
    background-image: none !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    padding: 0px !important;
    margin: 0px auto !important;
}
.alert.only-img
{
    background-color: none !important;
    border: none !important;

    padding: 0px !important;
    margin: 0px auto !important;

    text-align: right;

    width: 23px;
    height: 23px;

    background-position: center center !important;
    background-size: 23px 23px !important;

    font-size: 10px;
}

/************************************************************************/
/* Table */
table
{
    margin: 0;
}
table th,
table td
{
    vertical-align: top;
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 5px;
    padding-bottom: 2px;
}
table.bordered, table.bordered_outside
{
    margin: 10px 0px !important;
    border: 2px solid #666 !important;
}
table.bordered th,
table.bordered td
{
    padding: 10px !important;
    border: 1px solid #ccc !important;
}

/* Form Action */
table.form_actions
{
    width: 100%;
    background-color: #e5e5e5;
    margin: 0px !important;
}
table.form_actions td
{
    text-align: center;
}

/* Store Locator */
table.store_locator
{
    width: 90%;
    margin: 0 auto;
}
table.store_locator td
{
    width: 150px;
}

/* Loading 'gif' via divs: See more at: http://cssload.net/#sthash.mEfeQd1A.dpuf */
#facebookG{
    width:128px}
.facebook_blockG{
    background-color:#b3d4fc;
    border:3px solid #2b5c97;
    float:left;
    height:91px;
    margin-left:7px;
    width:24px;
    opacity:0.1;
    -moz-animation-name:bounceG;
    -moz-animation-duration:1.3s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-direction:linear;
    -moz-transform:scale(0.7);
    -webkit-animation-name:bounceG;
    -webkit-animation-duration:1.3s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-direction:linear;
    -webkit-transform:scale(0.7);
    -ms-animation-name:bounceG;
    -ms-animation-duration:1.3s;
    -ms-animation-iteration-count:infinite;
    -ms-animation-direction:linear;
    -ms-transform:scale(0.7);
    -o-animation-name:bounceG;
    -o-animation-duration:1.3s;
    -o-animation-iteration-count:infinite;
    -o-animation-direction:linear;
    -o-transform:scale(0.7);
    animation-name:bounceG;
    animation-duration:1.3s;
    animation-iteration-count:infinite;
    animation-direction:linear;
    transform:scale(0.7);
}
#blockG_1{
    -moz-animation-delay:0.39s;
    -webkit-animation-delay:0.39s;
    -ms-animation-delay:0.39s;
    -o-animation-delay:0.39s;
    animation-delay:0.39s;
}
#blockG_2{
    -moz-animation-delay:0.52s;
    -webkit-animation-delay:0.52s;
    -ms-animation-delay:0.52s;
    -o-animation-delay:0.52s;
    animation-delay:0.52s;
}
#blockG_3{
    -moz-animation-delay:0.65s;
    -webkit-animation-delay:0.65s;
    -ms-animation-delay:0.65s;
    -o-animation-delay:0.65s;
    animation-delay:0.65s;
}
@-moz-keyframes bounceG{
    0%{
    -moz-transform:scale(1.2);
    opacity:1}
100%{
    -moz-transform:scale(0.7);
    opacity:0.1}

}
@-webkit-keyframes bounceG{
    0%{
    -webkit-transform:scale(1.2);
    opacity:1}
100%{
    -webkit-transform:scale(0.7);
    opacity:0.1}
}
@-ms-keyframes bounceG{
    0%{
    -ms-transform:scale(1.2);
    opacity:1}
100%{
    -ms-transform:scale(0.7);
    opacity:0.1}
}
@-o-keyframes bounceG{
    0%{
    -o-transform:scale(1.2);
    opacity:1}
100%{
    -o-transform:scale(0.7);
    opacity:0.1}

}
@keyframes bounceG{
    0%{
    transform:scale(1.2);
    opacity:1}
100%{
    transform:scale(0.7);
    opacity:0.1}
}

/************************************************************************/
/* Floating FDD */
.floatingFDD {
    position: fixed;
    bottom: 1em;

    margin: 0 auto;

    left: 35%;

    width: 350px;
    height: 100px;

    line-height: 20px;
    z-index: 9999999;

    padding-top: 25px;
    line-height: 25px;
    text-align: center;
    font-size: 1.1em;

    opacity: 0.95;
    filter: alpha(opacity=95);

    /*
    background-image: url(./images/fdd-wood-bg.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    */
}

/************************************************************************/
/* Menus */
ul.menu .heading
{
    text-transform: uppercase;
    color: #fff;
    font-size: 18px !important;
    font-weight: 600 !important;

    margin-top: 20px;
    margin-bottom: 5px;
}
ul.menu,
ul.menu li
{
    list-style-type: none !important;
    list-style-image: none !important;
    padding:0;
    margin:0;

    font-size: 15px !important;
    line-height: 23px;
}

/************************************************************************/
/* Three Column 'table' */
.left_col
{
    width: 300px;
    margin-left: 100px;
    float: left;
}
.mid_col
{
    width: 540px;
    float: left;
}
.login_form .login_form_box
{
    padding-left: 20px;
    padding-top: 15px;

    background-attachment: scroll;
    background-image: url(./images/items/clear-box.png);
    background-repeat: no-repeat;
    background-position: 10px 5px;
}

/************************************************************************/
/* Global */
.center
{
    text-align: center;
}

.muted
{
    color:#ccc;
}
a.muted:hover,
a.muted:focus
{
    color:#808080;
}
label
{
    cursor: pointer;
}

/* Buttons */
.button_delete,
.button_cancel,
.button_save,
.button_disabled
{
    border: 1px solid #666 !important;
    margin: 5px !important;
    padding: 10px !important;

    color: #FFF;
    font-weight: bold;
}
.button_delete:hover,
.button_cancel:hover,
.button_save:hover
{
    border: 1px solid #ccc !important;
}
.button_delete
{
    background-color: darkred;
}
.button_save
{
    background-color: #04B431;
}
.button_cancel
{
    background-color: darkorange;
}
.button_disabled
{
    background-color: #CCC !important;
    color: #999 !important;
}
.button_disabled:hover
{
    border: 1px solid #666 !important;
    cursor: default;
}
/************************************************************************/
/* jQuery UI */
.ui-button.delete
{
    background: none !important;
    border-color: #000 !important;
    background-color: red !important;
}
.ui-button.delete:hover
{
    background-color: #FFBABA !important;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}