# Force all requests to index except images/js/cs (anything that exists)
#<IfModule mod_rewrite.c>
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

#http://httpd.apache.org/docs/2.2/rewrite/flags.html
RewriteRule ^(.*)$ index.php?url=$1 [PT,L,QSA]
#</IfModule>


