/* ==========================================================================
   Goin' Postal's custom styles - defaults by brock@brockhensley.com
   ========================================================================== */

/************************************************************************/
/** Structure **/
body {
    background-color: #000;
    color: #e0e0e0;
    /*
    background-attachment: fixed;
    background-image: url(./images/structure/background.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    */
}

/* Main Div */
#wrapper {
    /*
    background-repeat: repeat-y;
    background-position: center center;
    background-image: url(./images/structure/background-tile.jpg);
    */
}

/* Top Nav (very top nav bar, 960x32) */
#top {
    background-color: #000;
/*    background-attachment: scroll;
    background-image: url(./images/structure/top.jpg);
    background-repeat: no-repeat;
    background-position: center 0%;*/
}
.header, .header-full {
    /* Top Header (under top nav bar, includes nav links and logo, 960x156)) */
    /* Use header-full if front-page (.header) uses larger space than rest of pages like Hut */
    height: 46px;
    background-image: url(./images/structure/header.jpg);
}

/* GP specific */
#main-container {
    padding: 0px;
}

/* Middle separator */
.middle {
    /*
    background-attachment: scroll;
    background-image: url(./images/structure/middle.png);
    background-repeat: no-repeat;
    background-position: center;
    */
}
.middle-full {
    /*
    background-attachment: scroll;
    background-image: url(./images/structure/middle-full.png);
    background-repeat: no-repeat;
    background-position: center;
    */
}
.middle-small {
    /*
    background-attachment: scroll;
    background-image: url(./images/structure/middle-smaller.png);
    background-repeat: no-repeat;
    background-position: center;
    */
}

/* Footer (Bottom right logo in footer nav links 960x209)*/
.footer-container
{
    background-image: url(./images/structure/gp-cash.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-attachment: scroll;
}
/************************************************************************/

/************************************************************************/
/* Text Styles */
.body-text {
    color: #e0e0e0;
}
.body-text-bold {
    color: #e0e0e0;
}
.body-text-bold-nj {
    color: #e0e0e0;
}
.subheader-text-bold {
    color: #e0e0e0;
}
.body-text-small {
    color: #e0e0e0;
}
.header-text,
h1{
    color: #e0e0e0;
}
/************************************************************************/

/************************************************************************/
/* Floating FDD */
.floatingFDD {
    /*
    background-image: url(./images/fdd-wood-bg.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    */
}

/************************************************************************/
/* Custom CSS */

/* Removes padding and margin */
.no-padding {
    padding: 0px !important;
    margin: 0px !important;
}

/* Removes border and margin from img */
.plain-img {
    border: none !important;
    margin: 0px !important;
}