/* ==========================================================================
   Goin' Postal's custom styles - defaults by brock@brockhensley.com
   ========================================================================== */

/************************************************************************/
/** Structure **/
body {
    background-color: #000;
    color: #e0e0e0;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: left;

    /*
    background-attachment: fixed;
    background-image: url(./images/structure/background.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    */
}

/* Main Div */
#wrapper {
    /*
    background-repeat: repeat-y;
    background-position: center center;
    background-image: url(./images/structure/background-tile.jpg);
    */
}

/* Top Nav (very top nav bar, 960x32) */
#top {
    background-color: #000;
/*    background-attachment: scroll;
    background-image: url(./images/structure/top.jpg);
    background-repeat: no-repeat;
    background-position: center 0%;*/
}
.header, .header-full {
    /* Top Header (under top nav bar, includes nav links and logo, 960x156)) */
    /* Use header-full if front-page (.header) uses larger space than rest of pages like Hut */
    height: 46px;
    background-image: url(./images/structure/header.jpg);
    padding-top: 65px;
}

/* Home */
.header
{
    margin-bottom: -10px !important;
}

/* Non-home Pages */
.header-full
{
    margin-top: 0px !important;
}

/* GP specific */
#main-container
{
    background-color:   white;
    margin: 10px auto;
}
#main-container.front
{
    padding: 0px !important;
    background-color: #000 !important;
}
#main-container.non-front
{
    /* http://www.cssmatic.com/box-shadow */
    /*  bottom
        top
        right
        left*/
    box-shadow: 0 9px 0px 0px #330909,
                0 -9px 0px 0px #330909,
                12px 0 15px -4px #002093,
                -12px 0 15px -4px red;
    -moz-box-shadow: 0 9px 0px 0px #330909,
                0 -9px 0px 0px #330909,
                12px 0 15px -4px blue,
                -12px 0 15px -4px red;
    -webit-box-shadow: 0 9px 0px 0px #330909,
                0 -9px 0px 0px #330909,
                12px 0 15px -4px blue,
                -12px 0 15px -4px red;
    
    -moz-border-radius: 15px;
    border-radius:      15px;
}

/* Middle separator */
.middle {
    /*
    background-attachment: scroll;
    background-image: url(./images/structure/middle.png);
    background-repeat: no-repeat;
    background-position: center;
    */
}
.middle-full {
    /*
    background-attachment: scroll;
    background-image: url(./images/structure/middle-full.png);
    background-repeat: no-repeat;
    background-position: center;
    */
}
.middle-small {
    /*
    background-attachment: scroll;
    background-image: url(./images/structure/middle-smaller.png);
    background-repeat: no-repeat;
    background-position: center;
    */
    height: 0px !important;
}

/* Footer (Bottom right logo in footer nav links 960x209)*/
.footer-container
{
    font-family: Arial, Helvetica, sans-serif;
    height: 209px;
    border-top: 2px solid #999;
    background-image: url(./images/structure/gp-cash.jpg);
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: scroll;
}

/************************************************************************/
/* Top & Header Menus */
ul.menu_top,
ul.menu_header {
    text-transform:none;
    text-align: left;
    float: none;
    margin-left: 70px;

    font-family: "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif !important;
    font-size: 12px !important;
}

ul.menu_header li {
    padding: 10px 15px 0px 12px !important;
}

/************************************************************************/
/* Text Styles */
.body-text {
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    font-size: 15px;
    text-decoration: none;
    text-align: left;
}
.body-text-bold {
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    font-size: 16px;
    text-decoration: none;
    text-align: left;
    font-weight: bolder;
}
.body-text-bold-nj {
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    font-size: 16px;
    text-decoration: none;
    font-weight: bolder;
}
.subheader-text-bold {
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    font-size: 20px;
    text-decoration: none;
    text-align: left;
    font-weight: bolder;
}
.body-text-small {
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    font-size: 12px;
    text-decoration: none;
    text-align: left;
}
.header-text,
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: #999;
    text-decoration: none;
    /* text-indent: 45px; */
    text-transform: lowercase;
    text-align: left;
    padding-left: 45px;
    vertical-align: top;
}

/************************************************************************/
/* Global Link Style */
a:link {
    color: #0098F4 !important;
    text-decoration: none;
}
a:visited {
    color: #0098F4 !important;
    text-decoration: none;
}
a:hover {
    color: #0098F4 !important;
    text-decoration: none;
}
a:active {
    text-decoration: none;
    color: #0098F4 !important;
}

/************************************************************************/
/* Floating FDD */
.floatingFDD {
    /*
    background-image: url(./images/fdd-wood-bg.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    */
}

/************************************************************************/
/* Custom CSS */

/* Removes padding and margin */
.no-padding {
    margin: 0px !important;
    padding: 0px !important;
}

/* Removes border and margin from img */
.plain-img {
    border: none !important;
    margin: 0px !important;
    padding: 0px !important;
}

/* Main GP Home Image */
#view p.no-padding .plain-img {
    margin-top: -4px !important;
}
